.enrollment-container{
width:100vw;
min-height: 400px;
background-position: center;
background-size: cover;
position: relative;
}
.enrollment-content{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
 
}