//$primary-green: #b2d334;


$light-blue:#ABD5F6;
$mid-blue:#6EBAEA;
$pri-blue:#1098D8;

$light-pink:#FFD0DA;
$mid-pink:#FEABBD;
$pri-pink:#F97F93;

$light-green:#E5EDA2;
$mid-green:#D3E26B;
$pri-green:#BCD322;

$light-yellow:#FEED9F;
$mid-yellow:#FFDF64;
$pri-yellow:#FECE13;

$pri-orange:#FEA238;
$mid-orange:#ffa25b;

$font-black: #3e363f;
$font-green:#565944;

