.App {
  font-family: sans-serif;
  text-align: center;
}
.album-thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}
