.App {
  font-family: sans-serif;
  text-align: center;
}
.album-thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}
.album__img-list {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
}
.album__img-placeholder {
  list-style: none;
  position: relative;
  margin: 10px;
}
.delete-btn {
  position: absolute;
  font-size: 2rem;
  right: 0;
  top: -0.5rem;
  cursor: pointer;
  /* height: 1rem; */
  /* background-color: red; */
}
.album__img {
  width: 200px;
}

/*CAROUSEL     backgroundSize: "cover",
    minWidth: "200px",
    minHeight: "300px",
    backgroundPosition: "center",
    transition: "background-image 0.5s ease-in-out"*/
.carousel-container {
  position: relative;
  width: 100vw;
  min-height: 300px;
  border: 2px solid pink;
}
.img-slide {
  min-width: 200px;
  min-height: 300px;
  width: 100%;
}
.slide-arrowleft,
.slide-arrowright {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.slide-arrowleft {
  left: 10px;
}
.slide-arrowright {
  right: 10px;
}
.indicator-wrap {
  margin: 10px auto;
  text-align: center;
  width: 100vw;
}
